@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #000000;
  background: #E5E5E5;
}

p {
  margin: 0;
}

.App {
  margin: 0 auto;
  max-width: 1170px;
  width: 100%;
  padding: 100px 0 0;
}